<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon-logo.ico" style="border-radius:10px">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/css/vlbank.css">
    <script
            src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <meta name="author" content="Victor e Vinicius" />
    <title>VLBank</title>
</head>
<body>
    <div th:replace="~{fragmentos/fragmentos2 :: cabecalho2}"></div>

    <div class="editor-principal">
        <form th:method="POST" th:action="@{/vlbank/{clienteId}(clienteId=${clienteId})}" class="form">
            <h4>VLbank</h4>

            <div class="container-exibicao">
                <span class="container-exibicao-banco"><img alt="icon-banco" src="/img/icons-banco.png" width="32px" class="img-icon"> <span th:text="${banco}"></span></span>
                <span class="container-exibicao-agencia">Agência: <span th:text="${agencia}"></span></span>

                <span class="container-exibicao-nome"><img alt="icon-usuario" src="/img/icons-usuario.gif" width="32px" class="img-icon">Olá <span th:text="${nomeCliente}"></span></span>
                <p class="saldo">Meu saldo disponível</p>
                <span class="container-exibicao-saldo"><img alt="icon-dolar" src="/img/icon-dolar.gif" width="35px" class="img-icon"> <span th:text="${saldo}"></span></span>
            </div>
            <div class="button-container">
                <button type="submit" name="acao" value="extrato" class="button-transferencia">Extrato</button>
            </div>

            <div class="button-container-extrato">
                <button type="submit" name="acao" value="transferencia" class="button-extrato">Transferência</button>
            </div>


        </form>
    </div>
    <div th:replace="~{fragmentos/fragmentos :: final}"></div>
</body>
</html>